@font-face {
    font-family: 'Lato';
    src: url('../font/Lato/Lato-Regular.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/Lato/Lato-Bold.ttf') format('truetype'),
    font-weight: bold;
    font-style: normal;
}

:root {
	--primary-color: #FA5C19;
	--secondary-color: #E4ECF5;
	--main-font: #000000;
	--gray: #DBDBDB;
	--placeholder: #808080;
    --background: #FFFFFF;
    --shadow: 0px 0px 15px 5px rgba(0,0,0,0.05);

}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--background);
    color: var(--main-font);
    font-family: 'Lato', sans-serif;
}


a {
    color: var(--main-font);
    text-decoration: none;
}

strong {
    text-decoration: underline;
    color: var(--primary-color);
    font-weight: normal;
}

/*Header*/
header, main{
    padding: 0 7vw;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;
}

.logo, .menu {
    margin-top: 5vh;
}

.menu {
    display: flex;
}

.menu a {
    margin-right: 2rem;
    display: flex;
    align-items: center;
}

.underline {
    position: relative;
}
.underline::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 35%;
    background-color: var(--primary-color);
    width: 20px;
    height: 2px;
}

#account {
    background-color: var(--primary-color);
    color: var(--background);
    font-size: 1rem;
    font-family: 'Lato';
    border: none;
    display: flex;
    align-items: center;
    padding: .7rem 1.3rem;
    border-radius: 10px;
}

#account img {
    margin-right: 1rem;
    width: 23px;
}

#account p{
    margin-bottom: 3px;
}

/*Mobile Menu*/
.navbar {
    display: none;
    position: sticky;
    width: 100vw;
    z-index: 1;
}

.navbar-menu {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 8vh;
    display: none;
    flex-direction: column;
    padding-top: 5rem;
    flex-direction: column;
    background-color: var(--secondary-color);

}

.navbar-menu a {
    width: 100vw;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 10vw;
    position: relative;
}

.navbar-menu a:hover::after {
    content: ' ';
    position: absolute;
    bottom: -7px;
    left: 0;
    height: 3px;
    width: 40px;
    margin-left: 10vw;
    border-radius: 15px;
    background-color: var(--primary-color);
}



/*body of the page*/
main {
    position: relative;
    overflow: hidden;
    padding-bottom: 6rem;
}

main::after {
    content: ' ';
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    position: absolute;
    top: 50vh;
    left: 0;
    z-index: -5;
}

/*Hero-image*/
#hero img{
    width: 100%;
    border-radius: 10px;
}

/*About Us*/
#about-us {
    padding: 5rem 0;
}

.bar {
    display: block;
    width: 200px;
    height: 3px;
    background-color: var(--primary-color);
    margin-bottom: 1rem;
}

#about-us div{
    display: flex;
    align-items: center;
}

h1{
    font-size: 3.5rem;
    width: 50%;
}

#about-us p {
    width: 50%;
    font-size: 1.3rem;
}


/*Services*/
#service h2 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.service-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem 2rem;
    justify-items: center;
}

.services {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding: 2rem 3rem;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.services img {
    margin: .5rem 0;
}

.services b {
    font-size: .9rem;
    color: var(--primary-color);
    font-weight: normal;
    margin: 1rem 0;
}

.services h3 {
    font-size: 1.2rem;
    text-align: center;
}


/*Branding*/
#branding {
    margin: 6rem 0;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

#branding::after {
    content: ' ';
    background: url('../img/symbol.png') no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    z-index: -1;
}

.branding-container {
    width: 70%;
}

#branding h2 {
    font-size: 2.3rem;
    padding-top: 5rem;
    margin-bottom: 2rem;
    line-height: 3rem;
}

#branding p {
    font-size: 1.3rem;
}

/*Footer*/
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20vh;
    background-color: var(--background);
}

footer h2 {
    font-size: 2rem;
}

.form-mail {
    background-color: var(--secondary-color);
    width: 40vw;
    min-height: 4rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-mail input{
    background: transparent;
    border: none;
    padding-left: 1.5rem;
    font-size: 1.2rem;
    width: 100%;
    outline: none;
}

.form-mail button {
    background-color: var(--background);
    color: var(--primary-color);
    border: none;
    padding: 1rem;
    margin: 0 .5rem;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
}


@media screen and (max-width: 1000px) {
    header {
        flex-direction: column;
    }

    .menu {
        margin-top: 20px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .underline::after {
        bottom: -15px;
    }

    header a {
        margin-left: 20px;
        font-size: .8rem;
        margin: 10px 20px 2rem 0;
    }
    main::after{
        top: 30vh;
    }

    .branding-container {
        width: 100%;
    }
    footer {
        flex-direction: column;
        padding: 1rem 0;
        height: 25vh;
    }
    footer h2{
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    .form-mail {
        width: 70vw;
    }

}


@media screen and (max-width: 600px) {

    header {
        top: 0;
        position: fixed;
        margin-top: 0;
        z-index: 2;
        box-shadow: var(--shadow);
    }

    .logo {
        position: absolute;
        top: 4vh;
        z-index: 2;
        margin-top: 0;
    }

    .menu {
        display: none; 
    }

    header > a {
        padding: 1rem;
    }

    .navbar {
        display: block;
    }

    .navbar-banner {
        background-color: var(--secondary-color);
        width: 100%;
        height: 12vh;
    }

    #burger {
        position: absolute;
        top: 4vh;
        left: 30px;
        border: none;
        background-color: transparent;
        width: 30px;
        height: 30px;
        background: center url('../img/icon_burger.png') no-repeat;
        outline: none;
    }
    
    #burger.active {
        background-image: url('../img/icon_close.png');
    }

    .navbar-menu.active {
        display: flex;
    }

    main{
        margin-top: 12vh;
        padding-top: 2rem;
    }

    main::after{
        top: 0;
    }

    #hero img{
        position: relative;
        top: -2rem;
        left: -7vw;
        width: 100vw;
        border-radius: 0;
    }
    #about-us div {
        flex-direction: column;
    }

    #about-us h1, #about-us p{
        width: 100%;
        text-align: center;
    }

    #about-us h1 {
        margin-bottom: 2rem;
        font-size: 1.9rem;
    }
    .bar {
        width: 100px;
    }
    h2, #branding p{
        text-align: center;
    }

    #branding::after{
        width: 40vh;
    }
    #branding h2{
        font-size: 1.5rem;
        line-height: 2rem;
    }

    #branding p {
        font-size: initial;

    }
}